@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Pretendard;
    font-weight: 200;
    src:
        local("Pretendard Regular"),
        url("./assets/fonts/Pretendard-Light.woff2") format("woff2");
}

@font-face {
    font-family: Pretendard;
    font-weight: 300;
    src:
        local("Pretendard Regular"),
        url("./assets/fonts/Pretendard-Medium.woff2") format("woff2");
}

@font-face {
    font-family: Pretendard;
    font-weight: 400;
    src:
        local("Pretendard Regular"),
        url("./assets/fonts/Pretendard-Regular.woff2") format("woff2");
}

@font-face {
    font-family: Pretendard;
    font-weight: 500;
    src:
        local("Pretendard Medium"),
        url("./assets/fonts/Pretendard-Medium.woff2") format("woff2");
}

@font-face {
    font-family: Pretendard;
    font-weight: 700;
    src:
        local("Pretendard Bold"),
        url("./assets/fonts/Pretendard-Bold.woff2") format("woff2");
}

@font-face {
    font-family: Pretendard;
    font-weight: 800;
    src:
        local("Pretendard Extrabold"),
        url("./assets/fonts/Pretendard-Extrabold.woff2") format("woff2");
}

@font-face {
    font-family: LuxuriousScript;
    font-weight: 400;
    src:
        local("LuxuriousSript Regular"),
        url("/src/assets/fonts/LuxuriousScript-Regular.ttf") format("truetype");
}
/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap"); */

.inter-200 {
    font-family: "Inter", sans-serif;
    font-weight: 200;
}

.inter-300 {
    font-family: "Inter", sans-serif;
    font-weight: 300;
}

.inter-400 {
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

.inter-500 {
    font-family: "Inter", sans-serif;
    font-weight: 500;
}

.inter-600 {
    font-family: "Inter", sans-serif;
    font-weight: 600;
}

.inter-700 {
    font-family: "Inter", sans-serif;
    font-weight: 700;
}

.inter-800 {
    font-family: "Inter", sans-serif;
    font-weight: 800;
}
