@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button {
}
button:hover {
}
button:focus,
button:focus-visible {
}

@media (prefers-color-scheme: light) {
  :root {
  }
  a:hover {
  }
  button {
  }
}
